#headNav-wraper {
  height: 130px;
  background: #f1f1f1;
}
#headNav-wraper.headerscroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  z-index: 10000;
}
#headNav-wraper .typeArea-head {
  background: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
#headNav-wraper .typeArea-head .navLeft:hover {
  background: #fff;
}
#headNav-wraper .typeArea-head .navLeft .toggle {
  color: #696969;
}
#headNav-wraper .typeArea-head .navRight ul {
  display: flex;
}
#headNav-wraper .typeArea-head .navRight ul li:hover {
  background: #fff;
}
#headNav-wraper .typeArea-head .navRight ul li a {
  padding: 0 15px;
  color: #333;
  transition: color 1s;
}
#headNav-wraper .typeArea-head .navRight ul li a:hover {
  color: #e72b2f;
}
#headNav-wraper .typeArea-head .active {
  color: #8b0000;
}
#headNav-wraper .logoSearchWrap {
  background: #fff;
  height: 90px;
}
#headNav-wraper .logoSearchWrap .leftSection {
  width: 280px;
  height: 90px;
  float: left;
}
#headNav-wraper .logoSearchWrap .leftSection a {
  height: 90px;
  line-height: 90px;
  box-sizing: border-box;
  padding: 25px 0;
}
#headNav-wraper .logoSearchWrap .leftSection img {
  width: 100%;
  vertical-align: middle;
}
#headNav-wraper .logoSearchWrap .middleSection {
  position: relative;
  float: left;
  margin: 28px 46px;
}
#headNav-wraper .logoSearchWrap .middleSection input {
  width: 417px;
  height: 30px;
  border: 2px solid #e72b2f;
  padding: 2px 30px;
  border-radius: 10px;
}
#headNav-wraper .logoSearchWrap .middleSection .search {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 36px;
  background: #e72b2f;
  border-radius: 0 10px 10px 0;
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}
#headNav-wraper .logoSearchWrap .rightSection {
  position: relative;
  float: right;
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
}
#headNav-wraper .logoSearchWrap .rightSection img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
#headNav-wraper .logoSearchWrap .rightSection span {
  display: block;
  border: 1px solid #ccc;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  left: 40px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  box-sizing: border-box;
}
#main-wraper {
  background: #fbf8f8;
  width: 100%;
}
#main-wraper .listContainer h3 {
  height: 85px;
  width: 100px;
  box-sizing: border-box;
  padding: 20px 0;
}
#main-wraper .listContainer .typeArea {
  position: relative;
}
#main-wraper .listContainer .typeArea .leftSection {
  width: 970px;
}
#main-wraper .listContainer .typeArea .leftSection ul li {
  float: left;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 10px;
  width: 232px;
  height: 300px;
}
#main-wraper .listContainer .typeArea .leftSection ul li h4 {
  font-size: 16px;
  padding: 5px;
}
#main-wraper .listContainer .typeArea .leftSection ul li span {
  display: block;
  float: left;
}
#main-wraper .listContainer .typeArea .leftSection ul li img {
  width: 210px;
  height: 210px;
}
#main-wraper .listContainer .typeArea .banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 298px;
}
#main-wraper .listContainer .typeArea .banner img {
  width: 100%;
}
